env/
.env/
.venv/

.vscode/
testing/
exports/
Dummy_Testing/*

__pycache__

*.txt
*.manifest
*.xml
*.json
!demos/projects/*.json
!demos/ICs/*.json

file.json/
temp.json/


reactor/*.pyd
reactor/*.so
build/
*/blazing_build
dist/
*dist
.nuitka*
blazing_builds/
reactor/*.html
reactor/*c
tests/ISCAS85/obj_dir
tests/*plots/
tests/*/.png
tests/*.log