env/
.env/
.venv/

.vscode/
testing/
exports/
Dummy_Testing/*

__pycache__

*.txt
*.manifest
*.xml
*.json
!demos/projects/*.json
!demos/ICs/*.json

file.json/
temp.json/
build/
*build
build*/

reactor/*.pyd
reactor/*.so
scripts/build/
dist/
*dist
.nuitka*
blazing_builds/

